<HTML>
    <HEAD>
        <TITLE>WRP {{.URL}}</TITLE>
    </HEAD>
    <BODY BGCOLOR="{{.BgColor}}">
        <FORM ACTION="/" METHOD="POST">
            <INPUT TYPE="TEXT" NAME="url" VALUE="{{.URL}}" SIZE="20">
            <INPUT TYPE="SUBMIT" VALUE="Go">
            {{ if eq .WrpMode "ismap" }}
            <INPUT TYPE="SUBMIT" NAME="Fn" VALUE="Bk">
            <INPUT TYPE="SUBMIT" NAME="Fn" VALUE="St">
            <INPUT TYPE="SUBMIT" NAME="Fn" VALUE="Re">
            <INPUT TYPE="SUBMIT" NAME="Fn" VALUE="Up">
            <INPUT TYPE="SUBMIT" NAME="Fn" VALUE="Dn">
            W <INPUT TYPE="TEXT" NAME="w" VALUE="{{.Width}}" SIZE="4">
            H <INPUT TYPE="TEXT" NAME="h" VALUE="{{.Height}}" SIZE="4">
            {{ end }}
            {{ if eq .WrpMode "html" }}
            S <INPUT TYPE="TEXT" NAME="s" VALUE="{{.MaxSize}}" SIZE="4">
            {{ end }}
            {{ if eq .WrpMode "ismap" }}
            Z <SELECT NAME="z">
                <OPTION DISABLED>Zoom</OPTION>
                <OPTION VALUE="0.7" {{ if eq .Zoom 0.7}}SELECTED{{end}}>0.7 x</OPTION>
                <OPTION VALUE="0.8" {{ if eq .Zoom 0.8}}SELECTED{{end}}>0.8 x</OPTION>
                <OPTION VALUE="0.9" {{ if eq .Zoom 0.9}}SELECTED{{end}}>0.9 x</OPTION>
                <OPTION VALUE="1.0" {{ if eq .Zoom 1.0}}SELECTED{{end}}>1.0 x</OPTION>
                <OPTION VALUE="1.1" {{ if eq .Zoom 1.1}}SELECTED{{end}}>1.1 x</OPTION>
                <OPTION VALUE="1.2" {{ if eq .Zoom 1.2}}SELECTED{{end}}>1.2 x</OPTION>
                <OPTION VALUE="1.3" {{ if eq .Zoom 1.3}}SELECTED{{end}}>1.3 x</OPTION>
            </SELECT>
            {{ end }}
            M <SELECT NAME="m">
                <OPTION DISABLED>Mode</OPTION>
                <OPTION VALUE="ismap" {{ if eq .WrpMode "ismap"}}SELECTED{{end}}>ISMAP</OPTION>
                <OPTION VALUE="html" {{ if eq .WrpMode "html"}}SELECTED{{end}}>HTML</OPTION>
            </SELECT>
            T <SELECT NAME="t">
                <OPTION DISABLED>Type</OPTION>
                <OPTION VALUE="png" {{ if eq .ImgType "png"}}SELECTED{{end}}>PNG</OPTION>
                <OPTION VALUE="gif" {{ if eq .ImgType "gif"}}SELECTED{{end}}>GIF</OPTION>
                <OPTION VALUE="jpg" {{ if eq .ImgType "jpg"}}SELECTED{{end}}>JPG</OPTION>
            </SELECT>
            {{ if eq .ImgType "gif" }}
            C <SELECT NAME="c">
                <OPTION DISABLED>Ncol</OPTION>
                <OPTION VALUE="256" {{ if eq .NColors 256}}SELECTED{{end}}>256</OPTION>
                <OPTION VALUE="216" {{ if eq .NColors 216}}SELECTED{{end}}>216</OPTION>
                <OPTION VALUE="128" {{ if eq .NColors 128}}SELECTED{{end}}>128</OPTION>
                <OPTION VALUE="64" {{ if eq .NColors 64}}SELECTED{{end}}>64</OPTION>
                <OPTION VALUE="16" {{ if eq .NColors 16}}SELECTED{{end}}>16</OPTION>
                <OPTION VALUE="2" {{ if eq .NColors 2}}SELECTED{{end}}>2</OPTION>
            </SELECT>
            {{ end }}
            {{ if eq .ImgType "jpg" }}
            Q <INPUT TYPE="TEXT" NAME="q" VALUE="{{.JQual}}" SIZE="2">%
            {{ end }}
            {{ if eq .WrpMode "ismap" }}
            K <INPUT TYPE="TEXT" NAME="k" VALUE="" SIZE="4">
            <INPUT TYPE="SUBMIT" NAME="Fn" VALUE="Bs">
            <INPUT TYPE="SUBMIT" NAME="Fn" VALUE="Rt">
            <INPUT TYPE="SUBMIT" NAME="Fn" VALUE="All"><!--
            <INPUT TYPE="SUBMIT" NAME="Fn" VALUE="&lt;">
            <INPUT TYPE="SUBMIT" NAME="Fn" VALUE="^">
            <INPUT TYPE="SUBMIT" NAME="Fn" VALUE="v">
            <INPUT TYPE="SUBMIT" NAME="Fn" VALUE="&gt;" SIZE="1">-->
            {{ end }}
        </FORM>
        <BR>
        {{if .ImgURL}}
        <A HREF="{{.MapURL}}">
            <IMG SRC="{{.ImgURL}}" BORDER="0" ALT="Url: {{.URL}}, Size: {{.ImgSize}} PageHeight: {{.PageHeight}}" WIDTH="{{.ImgWidth}}" HEIGHT="{{.ImgHeight}}" ISMAP>
        </A>
        <P>
        {{end}}
        {{.TeXT}}
		<FONT SIZE="-2">
		<A HREF="/?url=https://github.com/tenox7/wrp/&w={{.Width}}&h={{.Height}}&s={{printf "%.1f" .Zoom}}&c={{.NColors}}&t={{.ImgType}}">Web Rendering Proxy {{.Version}}</A> |
		<A HREF="/shutdown/">Shutdown WRP</A> |
        {{ if eq .WrpMode "ismap" }}
		<A HREF="/">Page Height: {{.PageHeight}}</A> |
		<A HREF="/">Img Size: {{.ImgSize}}</A>
        {{end}}
    </FONT>
    </BODY>
</HTML>
